.btn {
    margin: 1rem;
    transition: all .3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(38, 38, 38, 0.2), 0 3px 6px rgba(38, 38, 38, 0.2);
}
